<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prateeksu.whishapp"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        tools:replace="android:label"
        android:name="io.flutter.app.FlutterApplication"
        android:label="WhishApp Debug"
        android:requestLegacyExternalStorage="true">
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>