<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prateeksu.whishapp"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        tools:replace="android:label"
        android:label="WhishApp Debug"
        android:requestLegacyExternalStorage="true">
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>